*.o
*~
tst_sc_encrypt
ps3xport
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.cache
config.cache-env
config.h
config.log
config.status
configure
depcomp
install-sh
ltmain.sh
missing
stamp-h1

