*.o
*~
tst_sc_encrypt
ps3xport
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.cache
config.cache-env
config.h
config.log
config.status
configure
depcomp
install-sh
ltmain.sh
missing
stamp-h1
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
